version: '3.8'

services:
  api:
    build: .
    restart: on-failure
    ports:
      - "6666:6666"
    environment:
      - DATABASE_URL=postgresql://myuser:12345@db:5432/finaldb
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB=finaldb
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network: